mixin chose-button(button, types)
    label.chose-button(for=button.id class="" + button.buttonClasses) 
        input.chose-button__button(type=types id=button.id name=button.name value=button.value checked=button.checked)
        span.chose-button__fake-button(class='' + button.fakeClasses)
        span.chose-button__label(class = '' + button.labelClasses)=button.text
        