mixin chose-button(button, types)
    .chose-button__container
        if (button.checked) 
            input.chose-button__button(type=types id=button.id name=button.name value=button.value checked)
        else 
            input.chose-button__button(type=types id=button.id name=button.name value=button.value)
        label.chose-button__label(for=id)=button.text  