mixin chose-button(button, types, choseButtonClasses)
    label.chose-button(for=button.id) 
        input.chose-button__button(type=types id=button.id name=button.name value=button.value checked=button.checked)
        span.chose-button__fake-button(class='' + button.labelClasses)
        span.chose-button__label=button.text  
        