mixin dropdown(hasSubmit = false, defaultText = 'лист', items = [], width = '', iqdrpodownId = '', menuOpen = '') 
  .dropdown(class="" + width)
    .iqdropdown.js-iqdropdown(class="" + menuOpen data-id=iqdrpodownId)
      p.iqdropdown-selection.dropdown__text=defaultText
        .material-icons.material-icons__expand-more expand_more
      .iqdropdown-menu.js-iqdropdown-menu
        each item in items
          if (item.first)
            .iqdropdown-menu-option.iqdropdown-menu-option_first.js-iqdropdown-menu-option(data-id=item.id data-defaultcount=item.default)
              p.iqdropdown-item=item.name
          else 
            .iqdropdown-menu-option.js-iqdropdown-menu-option(data-id=item.id data-defaultcount=item.default)
              p.iqdropdown-item=item.name
        if (hasSubmit)
          .iqdropdown-menu-option.js-iqdropdown-menu-option
            .dropdown__buttons 
              .dropdown__clear-button
                +button({
                  'text': 'очистить',
                  'buttonClasses': 'button_height_15px button_width_72px button_border_none button_background-color_white',
                  'textClasses': 'button_color_blue',
                  'type': 'button'})
              .dropdown__submit-button
                +button({
                  'text': 'применить',
                  'buttonClasses': 'button_height_15px button_width_84px button_border_none button_background-color_white',
                  'textClasses': 'button_color_blue',
                  'type': 'button'})
